@model List<People>
@{
    ViewData["Title"] = "Home Page";
}
@*<h1>Hello World</h1>*@
@*<h2>Id :  @Model.Id</h2>
<h2>Name : @Model.Name</h2>
<h2>City: @Model.City</h2>*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@foreach (var people in Model)
{
   <h2>@people.Name</h2>
    <h3>@people.Id</h3>
    <h4>@people.City</h4>
}*@

